[Desktop Entry]
Name=Create a persistent file
Name[fr]=Crée un fichier de persistence
Name[de]=Beständige Datei erzeugen
Name[el]=Δημιουργία μόνιμου αρχείου
Name[ja]=パーシスタント·ファイルを作る
Comment=Create a slxsave.xfs file in order to persist changes in the live env.
Comment[fr]=Crée un fichier slxsave.xfs pour persister les changements dans l'environnement live.
Comment[de]=Erzeuge eine Datei slxsave.xfs, um Änderungen in der Live-Umgebung zu behalten.
Comment[el]=Δημιουργήστε ένα αρχείο slxsave.xfs ώστε να γίνονται μόνιμες οι αλλαγές στο live περιβάλλον.
Comment[ja]=slxsave.xfsファイルをライブCDにおける個人設定/変更などを記憶させるためにつくります。
Exec=gksu create-slxsave-xfs-gui
Icon=create-slxsave.xfs
Terminal=false
Type=Application
Categories=System;Application;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
