#!/bin/sh
# Load the keyboard map.
# Console maps are in /usr/share/kbd/keymaps
# Xorg maps are in /usr/share/salixtools/keymaps
if [ -x /usr/bin/loadkeys ]; then
  . /usr/lib/liblinuxlive
  keyb="`cmdline_value keyb`"
  [ -z "$keyb" ] && keyb=us
  keymapsdir='/usr/share/salixtools/'
  xkb=$(mktemp)
  grep "^$keyb|.*|.*|.*" $keymapsdir/keymaps | sed -e "s/^.*|\(.*\)|\(.*\)|\(.*\)/\1|\2|\3/" > $xkb
  xkblayout="$(sed -e "s/^\(.*\)|.*|.*/\1/" $xkb)"
  xkbvariant="$(sed -e "s/^.*|\(.*\)|.*/\1/" $xkb)"
  xkboptions="$(sed -e "s/^.*|.*|\(.*\)/\1/" $xkb)"
  rm -f $xkb
  # Fall back to keymap if no xkb maping available
  if [ ! "$xkblayout" ]; then
    xkblayout="$keyb"
    xkbvariant=""
    xkboptions=""
  fi
  /usr/bin/loadkeys $keyb.map 1>&2 2>/dev/null
  [ "$DISPLAY" ] && /usr/bin/setxkbmap -layout "$xkblayout" -variant "$xkbvariant" -option "$xkboptions" 1>&2 2>/dev/null
  if [ ! -a /etc/hal/fdi/policy/10-keymap.fdi ]; then
    if [ -a /usr/share/hal/fdi/policy/10osvendor/10-keymap.fdi ] ; then
      cp -f /usr/share/hal/fdi/policy/10osvendor/10-keymap.fdi /etc/hal/fdi/policy/10-keymap.fdi
    fi
  fi
  if [ -a /etc/hal/fdi/policy/10-keymap.fdi ]; then
    sed -i "s/\"input.xkb.layout\" type=\"string\">.*</\"input.xkb.layout\" type=\"string\">"$xkblayout"</" /etc/hal/fdi/policy/10-keymap.fdi
    sed -i "s|\(<merge key=\"input.xkb.variant\" type=\"string\"\).*|\1>"$xkbvariant"</merge>|" /etc/hal/fdi/policy/10-keymap.fdi
    sed -i "s/\"input.xkb.options\" type=\"string\">.*</\"input.xkb.options\" type=\"string\">"$xkboptions"</" /etc/hal/fdi/policy/10-keymap.fdi
    # Re-starting hal daemon
    sh /etc/rc.d/rc.hald restart
  fi
fi
