[Desktop Entry]
Name=Salix Startup Guide
Exec=/usr/bin/salixstartupguide.sh
Icon=salixlive-logo
Terminal=false
Type=Application
Categories=Application;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
