[Desktop Entry]
Categories=Application;System;
Exec=kdesu /usr/sbin/liveclone.py
Icon=liveclone
StartupNotify=true
Terminal=false
Type=Application
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
Name=LiveClone
Name[de]=LiveClone
Name[el]=LiveClone
Name[es]=LiveClone
Name[es_AR]=LiveClone
Name[fr]=LiveClone
Name[hu]=LiveClone
Name[ja]=ライブ·クローン
Name[nl]=LiveClone
Name[sv]=LiveClone
Name[uk]=LiveClone
GenericName=LiveClone utility
GenericName[de]=LiveClone Werkzeug
GenericName[el]=Εργαλείο LiveClone
GenericName[es]=Herramienta LiveClone
GenericName[es_AR]=Herramienta LiveClone
GenericName[fr]=Utilitaire LiveClone
GenericName[hu]=LiveClone segédprogram
GenericName[ja]=ライブ·クローン·ユーティリティ
GenericName[nl]=LiveClone tool
GenericName[sv]=LiveClone verktyg
GenericName[uk]=Утиліта LiveClone
Comment=Generate a LiveCD or LiveUSB cloned from SalixLive or from your own running environment.
Comment[de]=Eine Live CD oder einen Live USB Stick aus Salix Live oder Ihrer laufenden Umgebung erzeugen.
Comment[el]=Δημιουργία ενός κλωνοποιημένου LiveCD ή LiveUSB βασισμένο στο SalixLive ή στο τρέχον περιβάλλον.
Comment[es]=Generar un LiveCD o un LiveUSB clonado desde SalixLive o desde su entorno en ejecución.
Comment[es_AR]=Generar un LiveCD o un LiveUSB clonado desde SalixLive o desde su entorno en ejecución.
Comment[fr]=Générer un CD Live ou une clé USB Live, clonés à partir de SalixLive ou à partir de votre propre environnement actuel.
Comment[hu]=LiveCD vagy LiveUSB készítése a SalixLive alapján vagy saját futtató környezettel.
Comment[ja]=ライブCD、ライブUSBキーをSalixLive、もしくは、現行の環境から制作する。
Comment[nl]=Genereer een LiveCD of LiveUSB van SalixLive of van uw eigen draaiende omgeving.
Comment[sv]=Generera en LiveCD eller LiveUSB klon från SalixLive eller från din egna körande miljö.
Comment[uk]=Створює LiveCD або LiveUSB, клонований з SalixLive або Вашого власного робочого середовища.
