[Desktop Entry]
Name=Persistence Wizard
Name[da]=Vedholdende guide
Name[de]=Beständigkeits-Assistent
Name[el]=Οδηγός μόνιμων αλλαγών
Name[es]=Asistente de persistencia
Name[es_AR]=Asistente de persistencia
Name[fr]=Assistant Persistance
Name[hu]=Változásmentés Varázsló
Name[ja]=Persistenceウィザード
Name[nl]=Persistentie Wizard
Name[sv]=Permanent Guide
Name[uk]=Майстер збереження змін
Comment=Create a slxsave.xfs file in order to persist changes in the live env.
Comment[da]=Opret en slxsave.xfs-fil for at vedholde ændringer i live-miljøet.
Comment[de]=Lege eine slxsave.xfs Datei an, damit die Änderungen in der Live-Umgebung gespeichert werden.
Comment[el]=Δημιουργήστε ένα αρχείο slxsave.xfs ώστε να γίνονται μόνιμες οι αλλαγές που πραγματοποιείτε στο live περιβάλλον
Comment[es]=Crear un archivo slxsave.xfs a fin de persistan los cambios en el ambiente Live.
Comment[es_AR]=Crear un archivo slxsave.xfs a fin de persistan los cambios en el ambiente Live.
Comment[fr]=Crée un fichier 'slxsave.xfs' pour persister les changements de l'environnement Live.
Comment[hu]=Egy slxsave.xfs fájl létrehozása hogy a változások tartósan megmaradjanak a LiveCD környezetben.
Comment[ja]=slxsave.xfsファイルをライブ・セッションで行った環境などの変更記録のためにつくる
Comment[nl]=Creër een slxsave.xfs bestand om de aanpassingen persistent te maken in de live omgeving.
Comment[sv]=Skapa en slxsave.xfs fil för att permanent kunna spara ändringar i live mijön.
Comment[uk]=Створіть файл slxsave.xfs щоб зберегти зміни в live оточенні.
Exec=kdesu create-slxsave-xfs-gui
Icon=create-slxsave-xfs
Terminal=false
Type=Application
Categories=System;Application;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
