[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Salix Online
Name[de]=Salix Online
Name[el]=Salix Online
Name[fr]=Salix Online
Comment=Open Salix homepage
Comment[de]=Salix Homepage öffnen
Comment[el]=Επισκευτείτε τον ιστότοπο του Salix
Comment[fr]=Ouvrir la page d'accueil de Salix
Categories=Application;
Exec=xdg-open http://salix.sourceforge.net
Icon=salix-web
Terminal=false
StartupNotify=false
