[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Salix IRC support
Name[de]=Salix IRC Support
Name[el]=Υποστήριξη μέσω IRC
Name[fr]=Support IRC Salix 
Comment=Get on-line support for Salix using IRC
Comment[de]=Hilfe im Salix Online Chat bekommen
Comment[el]=Λάβετε υποστήριξη για το Salix χρησιμοποιώντας το IRC
Comment[el]=Obtenir de l'aide sur le salon IRC de Salix
Categories=Application;
Exec=xdg-open http://webchat.freenode.net/?randomnick=1&channels=salix&prompt=1
Icon=salix-irc
Terminal=false
StartupNotify=false
