[Desktop Entry]
Categories=Application;System;
Exec=kdesu /usr/sbin/salix-live-installer.py
Icon=salix-live-installer
StartupNotify=true
Terminal=false
Type=Application
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
Name=Salix Installer
Name[da]=SalixLive-installationsprogram
Name[de]=Salix Installationsprogramm
Name[el]=Εγκατάσταση του Salix
Name[es]=Instalador de SalixLive
Name[es_AR]=Instalador de SalixLive
Name[fr]=Installeur Salix
Name[hu]=Salix Telepítő
Name[ja]=Salixインストーラー
Name[nl]=Salix Installer
Name[sv]=Salix Installerare
Name[uk]=Встановлювач Selix
GenericName=Salix Live Installer
GenericName[el]=Εφαρμογή εγκατάστασης SalixLive
GenericName[es]=Instalador de SalixLive
GenericName[es_AR]=Instalador de SalixLive
GenericName[fr]=Installeur Salix Live
GenericName[nl]=Salix Live Installer
Comment=Install Salix on your computer from a SalixLive session
Comment[da]=Installér Salix på din computer fra en SalixLive-session
Comment[de]=Installiere von einer SalixLive Sitzung aus Salix auf dem Computer
Comment[el]=Εγκατάσταση του Salix στον υπολογιστή σας μέσω του περιβάλλοντος SalixLive
Comment[es]=Instalar Salix en su computadora desde una sesión SalixLive
Comment[es_AR]=Instalar Salix en su computadora desde una sesión SalixLive
Comment[fr]=Installer Salix sur son ordinateur à partir d'une session SalixLive
Comment[hu]=Salix telepítése az Ön számítógépére a SalixLive környezetben
Comment[ja]=SalixをSalixLiveのセッションから、コンピュータにインストールする。
Comment[nl]=Installeer Salix op uw computer van een SalixLive sessie
Comment[sv]=Installera Salix på datorn från en SalixLive session
Comment[uk]=Встановити Selix на Ваш комп’ютер з сесії SalixLive
